* {
    text-decoration: none;
   
}

.icon{
    height: 30px;
    width: 40px;
    padding: 2px;
  
    
        
}

.cantidad{
    text-decoration: none !important;
    padding: 5px;
    color: white;
}

.widget-container{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 90px;
    height: 40px
}

.cartwidget{
    padding: 0px;
}